### ì§ë°©ì˜ ì›ë£¸ ë§¤ë¬¼ì •ë³´ ìˆ˜ì§‘
- ì ˆì°¨
    - ë™ì´ë¦„ > ìœ„ë„, ê²½ë„
    - ìœ„ë„, ê²½ë„ > geohash ë³€í™˜
    - ë§¤ë¬¼ ì•„ì´ë”” > ë§¤ë¬¼ ì •ë³´

In [72]:
!pip install geohash2

Requirement already satisfied: geohash2 in c:\users\wslee\anaconda3\lib\site-packages (1.1)
Requirement already satisfied: docutils>=0.3 in c:\users\wslee\anaconda3\lib\site-packages (from geohash2) (0.17.1)

In [73]:
import requests
import pandas as pd
import geohash2

In [74]:
# 1. ë™ì´ë¦„ > ìœ„ë„, ê²½ë„

In [75]:
# payload ê¹¨ì§ˆë•Œ ì“°ëŠ” ì‚¬ì´íŠ¸
# https://meyerweb.com/eric/tools/dencoder/

In [76]:
addr = "ê°•ë‚¨êµ¬ ì—­ì‚¼ë™"
url = f"https://apis.zigbang.com/v2/search?leaseYn=N&q={addr}&serviceType=ì›ë£¸"

response = requests.get(url)
data = response.json()["items"][0]
lat, lng = data["lat"], data["lng"]
lat, lng

(37.495365142822266, 127.03306579589844)

In [77]:
# 2. ìœ„ë„, ê²½ë„ > geohash

In [78]:
# precisionì˜ ì»¤ì§ˆìˆ˜ë¡ ì˜ì—­ì´ ì‘ì•„ì§
geohash = geohash2.encode(lat, lng, precision=5) # precision default ê°’ : 12
geohash

'wydm6'

In [79]:
# 3. geohash > ë§¤ë¬¼ ì•„ì´ë””

In [80]:
url = f"https://apis.zigbang.com/v2/items?deposit_gteq=0&domain=zigbang\
&geohash={geohash}&needHasNoFiltered=true&rent_gteq=0&sales_type_in=ì „ì„¸|ì›”ì„¸&service_type_eq=ì›ë£¸"
url

'https://apis.zigbang.com/v2/items?deposit_gteq=0&domain=zigbang&geohash=wydm6&needHasNoFiltered=true&rent_gteq=0&sales_type_in=ì „ì„¸|ì›”ì„¸&service_type_eq=ì›ë£¸'

In [81]:
response = requests.get(url)
items = response.json()["items"]
item_id = [item["item_id"] for item in items]
item_id[:5]

[32819635, 32838798, 32872608, 32838700, 32767020]

In [82]:
# 4. ë§¤ë¬¼ ì•„ì´ë”” > ë§¤ë¬¼ ì •ë³´

In [83]:
url = "https://apis.zigbang.com/v2/items/list"

params = {
    "domain": "zigbang",
    "withCoalition": "true",
    "item_ids": item_id[:900]
}

response = requests.post(url, data=params)
response

In [84]:
items = response.json()["items"]
items[0]

{'section_type': None,
 'item_id': 32819635,
 'images_thumbnail': 'https://ic.zigbang.com/ic/items/32819635/1.jpg',
 'sales_type': 'ì „ì„¸',
 'sales_title': 'ì „ì„¸',
 'deposit': 16500,
 'rent': 0,
 'size_m2': 39.89,
 'ê³µê¸‰ë©´ì ': {'m2': 39.89, 'p': '12.1'},
 'ì „ìš©ë©´ì ': {'m2': 20.82, 'p': '6.3'},
 'ê³„ì•½ë©´ì ': None,
 'room_type_title': None,
 'floor': 'ì¤‘',
 'floor_string': 'ì¤‘',
 'building_floor': '20',
 'title': 'â˜…ì „ì…ì‹ ê³ Oâ˜…10ì›”14ì¼ì´í›„â˜…ì±„ê´‘ì—†ìŒâ˜…ì¼ë°˜ì „ì„¸ìê¸ˆëŒ€ì¶œê°€ëŠ¥â˜…',
 'is_first_movein': None,
 'room_type': '01',
 'address': 'ì„œì´ˆêµ¬ ì„œì´ˆë™',
 'random_location': {'lat': 37.48566359818854, 'lng': 127.0136073917663},
 'is_zzim': False,
 'status': True,
 'service_type': 'ì˜¤í”¼ìŠ¤í…”',
 'tags': [],
 'address1': 'ì„œìš¸ì‹œ ì„œì´ˆêµ¬ ì„œì´ˆë™',
 'address2': None,
 'address3': None,
 'manage_cost': '7.5',
 'reg_date': '2022-07-30T13:43:13+09:00',
 'is_new': False}

In [85]:
# max row, max column ì„¤ì •
# pd.options.display.max_columns, pd.options.display.max_rows

In [86]:
pd.options.display.max_columns = 50

In [87]:
pd.options.display.max_rows = 50

In [88]:
df = pd.DataFrame(items)
display(df.tail(2))

,section_type,item_id,images_thumbnail,sales_type,sales_title,deposit,rent,size_m2,ê³µê¸‰ë©´ì,ì „ìš©ë©´ì,ê³„ì•½ë©´ì,room_type_title,floor,floor_string,building_floor,title,is_first_movein,room_type,address,random_location,is_zzim,status,service_type,tags,address1,address2,address3,manage_cost,reg_date,is_new
898,None,32844154,https://ic.zigbang.com/ic/items/32844154/1.jpg,ì›”ì„¸,ì›”ì„¸,100,100,29.75,"{'m2': 29.75, 'p': '9'}","{'m2': 29.75, 'p': '9'}",None,None,2,2,2,ğŸŸ¥ğŸŸ¦ë‹¨ê¸°ğŸ’–ë§›ì§‘ğŸŸ¦ğŸŸ¥ ë¦¬ëª¨ë¸ë§ ì£¼ê±°/ì—…ë¬´ ê²¸ìš© ì›ë£¸!,None,01,ê°•ë‚¨êµ¬ ì—­ì‚¼ë™,"{'lat': 37.5016794314628, 'lng': 127.029515652...",False,True,ì›ë£¸,[ì¶”ì²œ],ì„œìš¸ì‹œ ê°•ë‚¨êµ¬ ì—­ì‚¼ë™,None,None,9,2022-08-01T18:43:35+09:00,False
899,None,32656329,https://ic.zigbang.com/ic/items/32656329/1.jpg,ì „ì„¸,ì „ì„¸,24000,0,59.50,"{'m2': 59.5, 'p': '18'}","{'m2': 34.71, 'p': '10.5'}",None,None,ì¤‘,ì¤‘,26,"â—ˆì „ì…ê°€ëŠ¥â—ˆìœ„ì¹˜,í¬ê¸°ì¢‹ì€ ì „ì„¸â—ˆ",None,01,ê°•ë‚¨êµ¬ ì—­ì‚¼ë™,"{'lat': 37.50222235548125, 'lng': 127.04454226...",False,True,ì˜¤í”¼ìŠ¤í…”,[ì¶”ì²œ],ì„œìš¸ì‹œ ê°•ë‚¨êµ¬ ì—­ì‚¼ë™,None,None,10,2022-07-18T13:23:18+09:00,False

In [89]:
columns = ["item_id", "sales_type", "deposit", "rent", "size_m2", "address1", "manage_cost"]
df = pd.DataFrame(items)[columns]
display(df)

      item_id sales_type  deposit  rent  size_m2     address1 manage_cost
0    32819635         ì „ì„¸    16500     0    39.89  ì„œìš¸ì‹œ ì„œì´ˆêµ¬ ì„œì´ˆë™         7.5
1    32838798         ì›”ì„¸     1000    68    37.56  ì„œìš¸ì‹œ ì„œì´ˆêµ¬ ì„œì´ˆë™         7.5
2    32872608         ì›”ì„¸     1000    70    37.56  ì„œìš¸ì‹œ ì„œì´ˆêµ¬ ì„œì´ˆë™         7.5
3    32838700         ì „ì„¸    50400     0    66.12  ì„œìš¸ì‹œ ì„œì´ˆêµ¬ ì„œì´ˆë™           9
4    32767020         ì›”ì„¸    20000    90    60.12  ì„œìš¸ì‹œ ì„œì´ˆêµ¬ ì„œì´ˆë™           5
..        ...        ...      ...   ...      ...          ...         ...
895  32850137         ì›”ì„¸      300   260    32.91  ì„œìš¸ì‹œ ê°•ë‚¨êµ¬ ì—­ì‚¼ë™          10
896  32852414         ì›”ì„¸      130   250    33.44  ì„œìš¸ì‹œ ê°•ë‚¨êµ¬ ì—­ì‚¼ë™          10
897  32809154         ì›”ì„¸      120    70    19.83  ì„œìš¸ì‹œ ê°•ë‚¨êµ¬ ì—­ì‚¼ë™           9
898  32844154         ì›”ì„¸      100   100    29.75  ì„œìš¸ì‹œ ê°•ë‚¨êµ¬ ì—­ì‚¼ë™           9
899  32656329         ì „ì„¸    24000     0    59.50  ì„œìš¸ì‹œ ê°•ë‚¨êµ¬ ì—­ì‚¼ë™          10

[900 rows x 7 columns]

In [90]:
# í•¨ìˆ˜ ë§Œë“¤ê¸°
def oneroom(addr):
    url = f"https://apis.zigbang.com/v2/search?leaseYn=N&q={addr}&serviceType=ì›ë£¸"

    response = requests.get(url)
    data = response.json()["items"][0]
    lat, lng = data["lat"], data["lng"]
    
    geohash = geohash2.encode(lat, lng, precision=5) # precision default ê°’ : 12
    
    url = f"https://apis.zigbang.com/v2/items?deposit_gteq=0&domain=zigbang\
&geohash={geohash}&needHasNoFiltered=true&rent_gteq=0&sales_type_in=ì „ì„¸|ì›”ì„¸&service_type_eq=ì›ë£¸"
    response = requests.get(url)
    items = response.json()["items"]
    item_id = [item["item_id"] for item in items]
    
    url = "https://apis.zigbang.com/v2/items/list"

    params = {
        "domain": "zigbang",
        "withCoalition": "true",
        "item_ids": item_id[:900]
    }

    response = requests.post(url, data=params)
    items = response.json()["items"]
    columns = ["item_id", "sales_type", "deposit", "rent", "size_m2", "address1", "manage_cost"]
    
    return pd.DataFrame(items)[columns]

In [91]:
addr = "ë§ˆí¬êµ¬ í•©ì •ë™"
df = oneroom(addr)
df.tail(2)

     item_id sales_type  deposit  rent  size_m2     address1 manage_cost
95  32812101         ì›”ì„¸     3000    80    61.24  ì„œìš¸ì‹œ ë§ˆí¬êµ¬ í•©ì •ë™           2
96  32836233         ì›”ì„¸     1000    45    13.95  ì„œìš¸ì‹œ ë§ˆí¬êµ¬ í•©ì •ë™           5

In [92]:
df_filtered = df[df["address1"].str.contains(addr)].reset_index(drop=True)
df_filtered

     item_id sales_type  deposit  rent  size_m2     address1 manage_cost
0   32662713         ì „ì„¸    17700     0    39.67  ì„œìš¸ì‹œ ë§ˆí¬êµ¬ í•©ì •ë™           0
1   32668759         ì „ì„¸    17700     0    39.67  ì„œìš¸ì‹œ ë§ˆí¬êµ¬ í•©ì •ë™           0
2   32726690         ì „ì„¸    19900     0    36.28  ì„œìš¸ì‹œ ë§ˆí¬êµ¬ í•©ì •ë™           0
3   32542700         ì›”ì„¸     1500    95    49.59  ì„œìš¸ì‹œ ë§ˆí¬êµ¬ í•©ì •ë™           7
4   32513282         ì „ì„¸     5000     0    23.14  ì„œìš¸ì‹œ ë§ˆí¬êµ¬ í•©ì •ë™           5
..       ...        ...      ...   ...      ...          ...         ...
92  32562277         ì›”ì„¸     1000    90    62.00  ì„œìš¸ì‹œ ë§ˆí¬êµ¬ í•©ì •ë™           2
93  32769021         ì›”ì„¸     1000    90    62.81  ì„œìš¸ì‹œ ë§ˆí¬êµ¬ í•©ì •ë™           2
94  32804404         ì›”ì„¸     2000    85    61.24  ì„œìš¸ì‹œ ë§ˆí¬êµ¬ í•©ì •ë™           2
95  32812101         ì›”ì„¸     3000    80    61.24  ì„œìš¸ì‹œ ë§ˆí¬êµ¬ í•©ì •ë™           2
96  32836233         ì›”ì„¸     1000    45    13.95  ì„œìš¸ì‹œ ë§ˆí¬êµ¬ í•©ì •ë™           5

[97 rows x 7 columns]

In [93]:
# ëª¨ë“ˆ íŒŒì¼ ë§Œë“¤ê¸° : py

In [94]:
%ls

 C ë“œë¼ì´ë¸Œì˜ ë³¼ë¥¨ì—ëŠ” ì´ë¦„ì´ ì—†ìŠµë‹ˆë‹¤.
 ë³¼ë¥¨ ì¼ë ¨ ë²ˆí˜¸: D3A3-08A0

 C:\Users\Wslee\Desktop\github\aivle\3. web crawling\day2 ë””ë ‰í„°ë¦¬

2022-08-04  ì˜¤í›„ 01:41    <DIR>          .
2022-08-04  ì˜¤í›„ 01:41    <DIR>          ..
2022-08-04  ì˜¤í›„ 01:39    <DIR>          .ipynb_checkpoints
2022-08-04  ì˜¤í›„ 01:35    <DIR>          __pycache__
2022-08-04  ì˜¤ì „ 11:05            54,726 01_.ipynb
2022-08-04  ì˜¤í›„ 01:39            41,091 02_zigbang.ipynb
2022-08-04  ì˜¤í›„ 01:41             1,099 03_daum_exchange.ipynb
2022-08-04  ì˜¤í›„ 01:41             1,171 zigbang.py
               4ê°œ íŒŒì¼              98,087 ë°”ì´íŠ¸
               4ê°œ ë””ë ‰í„°ë¦¬  44,630,360,064 ë°”ì´íŠ¸ ë‚¨ìŒ

In [157]:
%%writefile zigbang.py
import requests
import pandas as pd
import geohash2

def oneroom(addr):
    url = f"https://apis.zigbang.com/v2/search?leaseYn=N&q={addr}&serviceType=ì›ë£¸"

    response = requests.get(url)
    data = response.json()["items"][0]
    lat, lng = data["lat"], data["lng"]
    
    geohash = geohash2.encode(lat, lng, precision=5) # precision default ê°’ : 12
    
    url = f"https://apis.zigbang.com/v2/items?deposit_gteq=0&domain=zigbang\
&geohash={geohash}&needHasNoFiltered=true&rent_gteq=0&sales_type_in=ì „ì„¸|ì›”ì„¸&service_type_eq=ì›ë£¸"
    response = requests.get(url)
    items = response.json()["items"]
    item_id = [item["item_id"] for item in items]
    
    url = "https://apis.zigbang.com/v2/items/list"

    params = {
        "domain": "zigbang",
        "withCoalition": "true",
        "item_ids": item_id[:900]
    }

    response = requests.post(url, data=params)
    items = response.json()["items"]
    columns = ["item_id", "sales_type", "deposit", "rent", "size_m2", "address1", "manage_cost"]
    addr = "ë§ˆí¬êµ¬ í•©ì •ë™"
    df =pd.DataFrame(items)[columns]
    df_filtered = df[df["address1"].str.contains(addr)].reset_index(drop=True)
    return df_filtered

Overwriting zigbang.py

In [158]:
import zigbang as zb

In [159]:
addr = "ë§ˆí¬êµ¬ í•©ì •ë™"
df = zb.oneroom(addr)
df_filtered = df[df["address1"].str.contains(addr)].reset_index(drop=True)
display(df_filtered.head(100))

     item_id sales_type  deposit  rent  size_m2     address1 manage_cost
0   32662713         ì „ì„¸    17700     0    39.67  ì„œìš¸ì‹œ ë§ˆí¬êµ¬ í•©ì •ë™           0
1   32668759         ì „ì„¸    17700     0    39.67  ì„œìš¸ì‹œ ë§ˆí¬êµ¬ í•©ì •ë™           0
2   32726690         ì „ì„¸    19900     0    36.28  ì„œìš¸ì‹œ ë§ˆí¬êµ¬ í•©ì •ë™           0
3   32542700         ì›”ì„¸     1500    95    49.59  ì„œìš¸ì‹œ ë§ˆí¬êµ¬ í•©ì •ë™           7
4   32513282         ì „ì„¸     5000     0    23.14  ì„œìš¸ì‹œ ë§ˆí¬êµ¬ í•©ì •ë™           5
..       ...        ...      ...   ...      ...          ...         ...
92  32562277         ì›”ì„¸     1000    90    62.00  ì„œìš¸ì‹œ ë§ˆí¬êµ¬ í•©ì •ë™           2
93  32769021         ì›”ì„¸     1000    90    62.81  ì„œìš¸ì‹œ ë§ˆí¬êµ¬ í•©ì •ë™           2
94  32804404         ì›”ì„¸     2000    85    61.24  ì„œìš¸ì‹œ ë§ˆí¬êµ¬ í•©ì •ë™           2
95  32812101         ì›”ì„¸     3000    80    61.24  ì„œìš¸ì‹œ ë§ˆí¬êµ¬ í•©ì •ë™           2
96  32836233         ì›”ì„¸     1000    45    13.95  ì„œìš¸ì‹œ ë§ˆí¬êµ¬ í•©ì •ë™           5

[97 rows x 7 columns]